

.question {
    color: white;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
}

.wrapper {
    color: white;
    font-weight: 700;
}

.answer-wrapper {
    text-align: center;
    font-size: 15px;
    margin-left: -40px;
    line-height: 50px;
}

.answer-wrapper button {
    cursor: pointer;
    border: 0;
    padding: 5px 10px;
    border-radius: 25px;
}

.button-wrapper {
    margin: 100px auto;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    border: 0;
    background: white;
}